.container-fluid {
  padding-top: 20px;
  padding-bottom: 10px;
}

.row {
	padding: 50px;
}

.img-fluid {
	padding-top: 10px;
 	width: 70%;
  	height: 40%;
}


.logos {
	width: 10%;
	height: 10%;
}


